/* This file contains all customizations to the original template */


/* ---- GENERAL ---- */
body {
  background-color: black;
}


/* ---- TYPOGRAPHY ---- */
body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: white;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

.script {
  font-family: 'Playball', cursive;
}

.monospace {
  font-family: 'Inconsolata';
}


/* ---- HOME ---- */
#home {
  background-color: black;
}

#home .big-logo {
  margin-top: 15%;
}

#home .headlines h1 {
  font-weight: 100;
  font-size: 2.4em;
  color: white;
}

#home .headlines h2 {
  font-size: 1.4em;
  font-weight: 100;
}

/* ---- NAVIGATION ---- */
header .navbar-default .navbar-nav > li > a {
  font-weight: 100;
}

header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > .active {
  color: yellow;
  border-bottom: none;
}


/* ---- MY STORY ---- */
#my-story {
  background-color: gray;
  padding: 200px 0;
  padding-top: 0;
  z-index: 9;
}

    /* ABOUT */
    #my-story .about {
      background-color: gray;
    }
    #my-story .info {
      margin-top: 50px;
    }
    #my-story .avatar {
      width: 440px;
      float: left;
    }
    #my-story .avatar img {
      border: 6px solid #4a4a4a;
      border-radius: 50%;
      overflow: hidden;
    }
    #my-story .per-info {
      text-align: left;
      width: 675px;
      float: right;
    }
    #my-story .per-info p {
      color: #fff;
    }
    #my-story h6 {
      font-size: 1em;
    }

    /* LIKES */
    #likes {
      margin-top: 50px;
    }
    #likes .icon {
      color: white;
      border-color: white;
    }
    #likes h3 {
      color: white;
      font-weight: 900;
    }
    #likes li {
      position: relative;
      width: 20%;
      float: left;
      padding: 30px 0;
      display: inline-block;
      text-align: center;
      margin-top: 20px;
    }
    #likes li i {
      font-size: 80px;
      color: white;
    }
    #likes h3 {
      font-weight: 100;
    }


/* ---- SKILLS ---- */
#skills {
  background-color: darkviolet;
  z-index: 10;
  padding: 200px 0;
  padding-top: 0;
}
#skills .container {
  background-color: darkviolet;
}
#skills .charts {
  margin-top: 80px;
}
#skills .charts li {
  position: relative;
  width: 19.5%;
  float: left;
  display: inline-block;
}
#skills .charts li:nth-child(1) {
  margin-top: 88px;
}
#skills .charts li:nth-child(2) {
  margin-top: 66px;
}
#skills .charts li:nth-child(3) {
  margin-top: 44px;
}
#skills .charts li:nth-child(4) {
  margin-top: 22px;
}
#skills .charts li:nth-child(5) {
  margin-top: 0px;
}
#skills .charts li p {
  margin-top: 30px;
}
